
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}
    
li{
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(62, 60, 60);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}
    
.nav-links a {
    color: #fff;
    text-shadow: 3px -1px 3px rgba(230, 230, 223, 0.38);
}
    
    /* LOGO */
    
.logo {
    font-size: 32px;
    font-weight: 400;
}
.logo a{
    text-decoration: none;
    color: white;
    text-shadow: 3px -1px 3px rgba(230, 230, 223, 0.38);
} 
    /* NAVBAR MENU */
    
.menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
}
    
.menu li:hover {
    background-color: rgb(129, 128, 128);
    border-radius: 4px;
    transition: 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);
}
    
.menu li {
    padding: 5px 14px;
}
    

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{
display: none;
    } 
    
    /*HAMBURGER MENU*/
    
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
    
    /* APPLYING MEDIA QUERIES */
    
@media (max-width:900px) {

    .menu { 
    display:none;
    position: absolute;
    background-color:rgb(104, 104, 104);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
    
.menu li:hover {
    display: inline-block;
    background-color:#4d4d4d;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.menu li + li {
    margin-top: 12px;
}
    
input[type=checkbox]:checked ~ .menu{
    display: block;
}
    
.hamburger {
    display: block;
}
    
.dropdown {
    left: 50%;
    top: 50px;
    transform: translateX(35%);
}
    
.dropdown li:hover {
    background-color: #4d4d4d;
    }
}

#home{
    margin-top: 100px;
} 