body{
    background: rgb(170,170,170);
background: linear-gradient(90deg, rgba(170,170,170,1) 0%, rgba(99,99,99,0.8884803921568627) 18%, rgba(27,27,27,0.7820378151260504) 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}
    
li{
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(62, 60, 60);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}
    
.nav-links a {
    color: #fff;
    text-shadow: 3px -1px 3px rgba(230, 230, 223, 0.38);
}
#resume-link-1 button{
    background-color: rgb(62, 60, 60);
    border: none;
    font-size: 20px;
    
}  
#resume-link-1 button{
    color: orangered;
}

#resume-button-1 button:hover{
    background-color: rgb(129, 128, 128);
    border-radius: 4px;
    transition: 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);
}
#resume-button-1:hover {
    background-color: rgb(129, 128, 128);
}
    /* LOGO */
    
.logo {
    font-size: 32px;
    font-weight: 400;
}
.logo a{
    text-decoration: none;
    color: white;
    text-shadow: 3px -1px 3px rgba(230, 230, 223, 0.38);
} 
    /* NAVBAR MENU */
    
.menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
}
    
.menu li:hover {
    background-color: rgb(129, 128, 128);
    border-radius: 4px;
    transition: 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);
}
    
.menu li {
    padding: 5px 14px;
}
    

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{
display: none;
    } 
    
    /*HAMBURGER MENU*/
    
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
    
    /* APPLYING MEDIA QUERIES */
    
@media (max-width:900px) {

    .menu { 
    display:none;
    position: absolute;
    background-color:rgb(104, 104, 104);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
    #resume-link-1{
    background-color: rgb(62, 60, 60);
}
#resume-link-1 button{
    background-color:rgb(104, 104, 104);
}
.menu li:hover {
    display: inline-block;
    background-color:#4d4d4d;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.menu li + li {
    margin-top: 12px;
}
    
input[type=checkbox]:checked ~ .menu{
    display: block;
}
    
.hamburger {
    display: block;
}
    
.dropdown {
    left: 50%;
    top: 50px;
    transform: translateX(35%);
}
    
.dropdown li:hover {
    background-color: #4d4d4d;
    }
}
/* .home-div{
    background: rgb(170,170,170);
background: linear-gradient(90deg, rgba(170,170,170,1) 0%, rgba(99,99,99,0.8884803921568627) 18%, rgba(27,27,27,0.7820378151260504) 59%);

} */
#home{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 79px;
    justify-content: space-between;

} 

#home-img{
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#home-img img{
    border-radius: 50%;
    width: 100%;
}

.home-intro{
    width: 69%;
    color: white;
}
.home-name-intro{
    margin-top: 15%;
}
.home-name-intro h1{
    display: inline;
}
.typewrite{
    color: orangered;
}
#user-detail-intro{
    margin-top: 20px;
}
#about-me-about{
    margin-top: 2%;
    text-decoration: underline;
}

#resume-button-2{
    text-align: center;
    margin-top: 2%;
    padding: 10px;
    background-color: orangered;
    border: none;
    color: white;
    font-size: 15px;
    /* font-weight: bolder; */
    border-radius: 4px;
}
#resume-button-2:hover{
cursor: pointer;
background-color: rgb(255, 99, 42);
color: rgb(203, 203, 203);
}

@media(min-width: 20px) and (max-width: 1000px) {
    #home{
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    .home-intro{
        width: 95%;
    }
    .home-name-intro{
        margin-top: 5%;
        text-align: center;
    }
    #user-detail-intro{
        text-align: center;
    }
    #home-img{
        width: 50%;
    }
    #home-img img{
        width: 100%;
    }
    #about-me-about{
        text-align: center;
    }
    #resume-link-2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
@media(min-width: 20px) and (max-width: 790px){
  .home-name-intro h1{
        display: block;
    }
    #about-me-about{
        text-align: center;
    }
} 
